{% extends 'base.html' %}

{% block title %}Inicio - SERCA{% endblock %}

{% block content %}
<style>
    .whatsapp-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #25D366;
        color: white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whatsapp-button:hover {
        background-color: #1EBE57;
        color: white;
    }
</style>

<div class="p-5 mb-2 bg-light rounded-3">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">SERCA Ingeniería, Construcción y Montajes</h1>
        <p class="col-md-8 fs-4">Damos solución a tus necesidades. Trabajamos día a día creando valor para tu empresa y entorno.</p>
        <a href="{% url 'contact:contact_request' %}" class="btn btn-primary btn-lg">Contáctanos !!</a>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Proyectos de ingeniería industriales y habitacionales</h5>
                    <a href="#" class="btn btn-custom-orange mt-auto">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Construcciones y Remodelaciones</h5>
                    <a href="#" class="btn btn-custom-orange mt-auto">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Control e Inspecciones de Obras</h5>
                    <a href="#" class="btn btn-custom-orange mt-auto">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Servicio 4</h5>
                    <a href="#" class="btn btn-custom-orange mt-auto">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Servicio 5</h5>
                    <a href="#" class="btn btn-custom-orange mt-auto">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}